.demo {
  color: white;
  background-color: #072146;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 5%;
}
.transaccion {
  padding: 2%;
  background-color: rgba(245, 245, 245, 0.678);
}

.formtransaction {
  color: black;
}
.inputnumber {
  color: black;
}
.subutton {
  color: black;
}
.cadena {
  padding: 2%;
  display: inline;
}
.bloque {
  margin: 1%;
  display: inline-block;
  border-radius: 3%;
  background-color: #1464a5;
  color: black;
  width: 30%;
}
.bloque p {
  padding: 3%;
  font-size: small;
  word-break: break-word;
}
.transa {
  margin: 8%;
  border-radius: 10%;
  border: 2px solid black;
}
.transa1 {
  background-color: rgba(69, 236, 63, 0.87);
}
.transa2 {
  background-color: rgba(129, 67, 245, 0.904);
}
.transa3 {
  background-color: rgb(221, 238, 66);
}
.genesis {
  background-color: #c42828;
}

@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -400px;
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -400px;
    opacity: 0;
  }
}
.sliderBrr {
  background: #F2F2F2;
  font-family: "Tahoma";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3%;
}

.sliderBrr #scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  position: relative;
  padding: 3%;
}

.sliderBrr #scene #left-zone {
  background: #fff;
  height: 75%;
  flex-grow: 0;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: left;
}

.sliderBrr #scene #left-zone .list {
  display: flex;
  list-style: none;
  align-content: stretch;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio] {
  display: none;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~label:first-letter {
  text-transform: uppercase;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~label:hover {
  opacity: 0.75;
  cursor: pointer;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~label.label_strawberry:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/978/978012.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~label.label_banana:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1674/1674738.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~label.label_apple:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://cdn-icons.flaticon.com/png/512/3281/premium/3281142.png?token=exp=1652479553~hmac=02ab308b10bfa554697fa553b54b2123");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~label.label_orange:before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/249/249660.png");
  background-position: center;
  background-size: 75% 75%;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content {
  position: absolute;
  left: 350px;
  top: -500px;
  width: 650px;
  height: 500px;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_strawberry .picto {
  height: 80px;
  width: 80px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/978/978012.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_strawberry h1 {
  color: #072146;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_banana .picto {
  height: 80px;
  width: 80px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1674/1674738.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_banana h1 {
  color: #1464A5;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_apple .picto {
  height: 80px;
  width: 80px;
  background-image: url("https://cdn-icons.flaticon.com/png/512/3281/premium/3281142.png?token=exp=1652479553~hmac=02ab308b10bfa554697fa553b54b2123");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_apple h1 {
  color: #072146;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_orange .picto {
  height: 80px;
  width: 80px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/249/249660.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content.content_orange h1 {
  color: #1464A5;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content h1:first-letter {
  text-transform: uppercase;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]~.content p {
  max-width: 50%;
  text-align: center;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]:checked~label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]:checked~label.label_strawberry {
  color: #072146;
  border-right: solid 4px #072146;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]:checked~label.label_banana {
  color: #1464A5;
  border-right: solid 4px #1464A5;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]:checked~label.label_apple {
  color: #072146;
  border-right: solid 4px #072146;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]:checked~label.label_orange {
  color: #1464A5;
  border-right: solid 4px #1464A5;
}

.sliderBrr #scene #left-zone .list li.item input[type=radio]:checked~.content {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sliderBrr #scene #middle-border {
  background-color: #eee;
  height: 75%;
  flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

.sliderBrr #scene #right-zone {
  background: #fff;
  height: 100%;
  flex-grow: 3;
}

.redGif{
  height: 300;
  width: 450;
}
.merkle {
  height: 250;
  width: 527.86;
}
.cap{
  height: 300;
  width: 391.35;
}
.bloques{
  height: 250;
  width: 601.72;
}